{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for feet in fetch %}
        <div class="col-lg-4">
            <div class="elements">
                <div class="thumbnail">
                    <img src="data:image;base64,{{feet[4]}}" alt="">
                </div>
                <h3>{{feet[1]}}</h3>
                <p>{{feet[2]}}</p>
                <h5>KSH {{feet[3]}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}